{% extends 'base.html' %}
{% block title %}Swayam GPT{% endblock %}
{% block content %}
<h1>SwayamGPT</h1>
<input type="text" id="urlInput" placeholder="Enter URL">
<select id="gptoptions">
    <option value="gpt-4">GPT-4</option>
    <option value="gpt-4-turbo" selected>GPT-4 Turbo (Accurate and chances of solving image questions)</option>
    <option value="gpt-3.5-turbo">GPT-3.5 Turbo</option>
    <option value="gpt-3.5">GPT-3.5</option>


</select>
<div id="Results"></div>
<button onclick="submitUrl()">Submit</button>

<script>
    function submitUrl() {
        var url = document.getElementById("urlInput").value;
        $.ajax({
            type: 'POST',
            url: '/swayamgpt/scrape',
            data: { 'url': url },
            success: function (response) {
                storeQuestions(response)
                getResult()
                // displayQuestions(response);
            }
        });
    }
    function storeQuestions(response) {
        sessionStorage.setItem('questionsData', JSON.stringify(response));
    }

    function getResult() {
        var questions = JSON.parse(sessionStorage.getItem('questionsData'));
        var index = 0;
        processQuestion(index, questions);
    }


    function processQuestion(index, questions) {
        var selectedOption = document.getElementById("gptoptions").value; // Retrieve selected option value
        if (index >= questions.length) {
            return;
        }
        var question = questions[index];
        displayQuestion(index, selectedOption, question)


        $.ajax({
            type: 'POST',
            url: '/swayamgpt/process_question',
            data: JSON.stringify({ question: question, selectedOption: selectedOption }), // Include selected option in data object
            contentType: 'application/json',
            success: function (response) {
                displayResult(response)
                processQuestion(index + 1, questions);

            }
        });
    }

    function displayQuestion(index, selectedOption, question) {

        var displayQuestion = '<div class ="displayQuestion">';

        displayQuestion += '<div class="question"><p> Q.' + question.question_number + ': ' + question.question_text + '</p></div>';


        displayQuestion += '<div class ="displayChoices">';
        question.choices.forEach(function (choice, index) {
            displayQuestion += '<p>Choice ' + (index + 1) + ': ' + choice + '</p>';
        });
        displayQuestion += '</div>';

        displayQuestion += '<div class="loading message>"<p>Fetching the solution for Question ' + (index + 1) + ' from ' + selectedOption + '</p></div>';


        displayQuestion += '</div>';


        document.getElementById("Results").innerHTML += displayQuestion;



    }
    function displayResult(result, callback) {

        var resultHtml = '<div class="displayAnswer" >';
        resultHtml += '<p>' + result.answer + '</p>';
        resultHtml += '</div>';
        document.getElementById("Results").innerHTML += resultHtml;
    }

</script>
{% endblock %}